* {
	font-family: "Courier New", Courier, monospace;
}

body {
	background-color: #f1f2f6;
}

.card-style {
	display: flex;
	align-items: center;
	padding-top: 20px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	width: 15rem;
	height: 20rem;
}

.card-style:hover {
	transform: scale(1.1);
}

.card-title span {
	color: #333;
	font-weight: 600;
	font-size: 23px;
}

.card-style img {
	width: 100px;
}

.gallery {
	columns: 4 320px;
}

@media screen and (max-width: 550px) {
	.card-style {
		width: 100%;
	}
}
